@use "./../abstracts/index.scss" as *;

.inventory-stats-container {
  .ant-card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
    font-family: $font-helvetica;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }
  }

  .ant-statistic-title {
    font-family: $font-helvetica;
    font-size: 0.9rem;
    font-weight: 600;
    color: #595959;
  }
}
