@use "../abstracts/index.scss" as *;

.milk-required-report {
  padding: 24px;

  .ant-typography {
    font-family: $font-helvetica;
  }

  .ant-card {
    background-color: #fafafa;
  }

  .ant-card-head-title {
    font-weight: 600;
    font-size: 16px;
    color: #444;
  }

  .summary-card-container {
    background: #ffffff;
  }
  .summary-card {
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;

    .button {
      font-size: $text-xs;
      font-family: $font-helvetica;
      font-weight: $font-medium;
      padding: 0.5rem 1rem;
    }

    &:hover {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    p {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      margin-bottom: 8px;
    }

    .ant-btn-link {
      padding: 0;
      color: #1890ff;
      font-weight: 500;
      font-size: 14px;

      &:hover {
        color: #40a9ff;
      }
    }
  }

  .ant-table {
    margin-top: 24px;
    font-size: 14px;

    .ant-table-thead > tr > th {
      background-color: #f0f2f5;
      font-weight: 600;
    }
  }
}
