@use "./abstracts/index.scss" as *;
@use "./base/reset";

:root {
  --primary-color: #1e88e5;
  --secondary-color: #0d47a1;
  --background-color: #f5f7fa;
  --header-bg: #ffffff;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --menu-bg: #0d47a1;
  --menu-selected-bg: #1565c0;
  --menu-text: #ffffff;
  --border-radius: 8px;
}

// Global Styles
body {
  overflow: hidden;
  height: 100vh;
  margin: 0 auto;
  max-width: 1980px;
}

.ant-pagination-options .ant-select-selector {
  cursor: pointer !important;
}

.ant-btn,
.ant-modal-confirm-title,
.ant-modal-confirm-content {
  font-family: $font-helvetica !important;
}
.ant-menu-submenu-arrow {
  color: $text-white !important;
}
// Layout Structure
.main-layout {
  height: 100vh;
  display: flex;
  background-color: var(--background-color);
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;

  // Scrollbar (Webkit)
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(219, 14, 14, 0.15);
    border-radius: 8px;

    &:hover {
      background-color: $bg-darkBlue;
    }
  }

  > .ant-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
  }

  &__sider {
    background-color: $bg-darkBlue !important;
    font-family: $font-helvetica;
    z-index: 1000;
    transition: all 0.3s ease;

    .ant-menu-item {
      color: var(--menu-text);

      // &:hover {
      //   background-color: lighten(#0d47a1, 5%) !important;
      // }
    }

    .ant-menu-item-selected {
      background-color: var(--menu-selected-bg) !important;
      color: var(--menu-text) !important;
    }

    @media (max-width: 600px) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 250px;
    }
  }

  &__logo {
    color: var(--menu-text);
    font-size: 20px;
    font-family: $font-helvetica;
    font-weight: 600;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__header {
    background-color: var(--header-bg);
    padding: 16px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    user-select: none;
  }

  &__title {
    font-size: 20px;
    font-family: $font-helvetica;
    font-weight: 600;
    user-select: none;
    margin: 0;
    color: var(--text-primary);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: scroll;
    background-color: var(--background-color);
    position: relative;
    z-index: 1;

    @media (max-width: 500px) {
      padding: 0;
    }
  }

  &__content-container {
    flex: 1;
    padding: 16px;
    background-color: white;
    color: var(--text-primary);
  }

  .ant-menu-title-content {
    font-family: $font-helvetica !important;
  }
}

// Sidebar menu
.main-layout__menu {
  background-color: var(--menu-bg) !important;

  .ant-menu-item {
    color: var(--menu-text) !important;
    background-color: var(--menu-bg) !important;
    border-radius: var(--border-radius);
    margin: 0 8px 0.3rem;
  }

  .ant-menu-item-selected {
    background-color: var(--menu-selected-bg) !important;
    color: var(--menu-text) !important;
  }

  .ant-menu-item-icon,
  .ant-menu-title-content {
    color: var(--menu-text) !important;
  }
}

// Utility & Components
.title {
  font-size: $text-2xl;
  font-family: $font-helvetica;
  font-weight: 700;
}

.custom-input-field.input-error {
  border-color: #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

.error-text {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.hint-text {
  font-size: $text-xs;
  margin-top: -1rem;
}

.required {
  color: red;
}

.line-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;

  .ant-spin-dot-item {
    background-color: var(--primary-color);
  }
}

.ant-btn {
  padding: 4px !important;
}

.ant-table-cell {
  font-size: 13px !important;
  font-family: $font-helvetica !important;
  padding: 10px 15px !important;
}

.flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

Button {
  width: fit-content;
}

.submit-btn {
  font-size: $text-xs;
  background-color: $bg-blue;
  letter-spacing: 1.2px;
  color: $text-white;
}

.btn {
  font-size: $text-xs;
  font-weight: $font-medium;
}

// Toggle Button for Sidebar
.sidebar-toggle {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1100;
  font-size: 24px;
  background-color: $bg-darkBlue;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: 769px) {
    display: none;
  }
}
// section title
.management-title {
  font-size: $text-xl;
  font-weight: $font-bold;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  @include flex($justify: space-between, $align: center);
}

// table
.ant-table {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
  overflow: hidden;
  .ant-table-thead > tr > th {
    background-color: $bg-darkBlue !important;
    font-weight: $font-semibold !important;
    color: $text-white !important;
    font-size: $text-xs !important;
    padding: 12px 16px !important;
    letter-spacing: 1.2px !important;
    // border-bottom: 2px solid #1890ff !important;
  }
}

.btn-set {
  @include flex($align: center, $justify: flex-start);
  gap: 0.5rem;
  margin-top: 2rem;
}

.ant-pagination.ant-pagination-mini {
  display: flex;
  align-items: center;

  .ant-pagination-item {
    min-width: 24px;
    height: 24px;
    margin: 0;
    line-height: 22px;
    border-radius: 50%;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: $font-extrabold;
      color: $bg-blue;
      background: transparent;
      border-radius: 50%;
      font-family: $font-helvetica;
    }

    &.ant-pagination-item-active {
      background-color: $bg-blue;

      a {
        color: $text-white;
        font-size: 12px;
        font-family: $font-helvetica;
        font-weight: bold;
        background-color: transparent;
      }
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 24px;
      height: 24px;
      background: #f0f0f0;
      border: none;
      font-size: 13px;
      color: $bg-blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &.ant-pagination-disabled button {
      background: #f5f5f5;
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

// Right-align pagination inside Ant Table
:where(.css-dev-only-do-not-override-pjilya).ant-table-wrapper {
  .ant-table-pagination-right {
    justify-content: flex-end;
  }
}

// Typography reset for modal & buttons
.ant-btn,
.ant-modal-confirm-title,
.ant-modal-confirm-content {
  font-family: $font-helvetica, sans-serif;
}
